body {
  background-image: url('../images/pexels-photo-531756.jpeg');
}
img {
  width: 100px;
  height: 100px;
  padding: 0px, 0px;
  margin: 20px;

}

.col-lg-3 {
  margin: 0;
  text-align: center;
  width: 100px;
  height: 100px;
  padding-right: 0px;

}

h1{
  text-align: center;
  font-size: 80px;
  color: white;
}

p {
  color: white;
  background-color: blue;
  font-size: 20px;
}

.lossWin {
  font-size: 25px;
  background-color: blue;
  color: white;
  margin: 30px;
}